<h1>Perfil</h1>

<div class="">
  <span style="font-size: 1.5em">Usuario: </span>
  <span><%= current_user.email %></span>
</div>

<div class="">
  <a class="btn btn-info" href="/profile/edit_password">
    Editar contraseña
  </a>
</div>
